# backend-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
      - name: todo-frontend
        # 본인의 v1.0 이미지 주소로 변경
        image: hwplus/k8s-labs-todo-frontend
        ports:
        - containerPort: 3000